:root {
    --main-color: #171512;
    --main-text: #837D74;
    --black: #000;
    --black-degradation: rgba(0, 0, 0, 0.424);
    --white: #FFF
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1REM = 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Nunito', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    color: var(--main-text);
    background-color: var(--main-color);
}

/* * {
    border: 1px solid red;
} */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700;800&display=swap');

/* Globales */
a {
    text-decoration: none;
    color: var(--main-text);
}

h1, h2, h3 {
    margin: 0;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

img {
    filter: opacity(80%);
}

/* Animations */
@keyframes slidein-left {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

@keyframes slidein-right {
    from {
        margin-left: -100%;
        width: -300%;
    }
    to {
        margin-right: 0%;
        width: 100%;
    }
}

/* Header */

h1 {
    margin-right: 35rem;
}

.navegacion-principal {
    margin: 2rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10rem;
}

.navegacion-principal > a {
    transition: background-color .5s;
    padding: 1rem 2rem;
    border-radius: .5rem;
}

.navegacion-principal > a:hover {
    background-color: var(--black-degradation);
}

/* Main */

.main-flex {
    height: 65rem;
}

.main-title {
    z-index: 3;
    width: 100%;
    position: absolute;
    font-size: 9rem;
    margin: 4rem 0;
    line-height: 1;
}

.main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 8rem;
    margin-top: 15rem;
    margin: 15rem 8rem 8rem 0;
}

.main-text > a {
    margin-top: 1rem;
    padding: 1rem 2rem;
    background-color: var(--main-text);
    color: var(--black);
    transition: background-color .5s;
    border-radius: .5rem;
}

.main-text > a:hover {
    background-color: var(--black-degradation);
    color: var(--main-text);
}

.main-description {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
}

.main-description > img { 
    width: 80rem;
    height: 50rem;
}

/* Slide animations section */

.animate .first-slide {
    animation-duration: 1.5s;
    animation-name: slidein-left;
}

.animate .second-slide {
    animation-duration: 1.5s;
    animation-name: slidein-right;
}

.slide {
    margin-top: 10rem;
}

.first-slide, .second-slide {
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

.first-slide span, .second-slide span {
    text-align: center;
    font-size: 5rem;
}

/* General info */

.general-info {
    margin-top: 5rem;
}

.flex-info {
    display: flex;
    justify-content: center;
}

.info-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8rem;
}

.info-img > img {
    width: 60rem;
    height: 50rem;
}

.info-seccion {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-section-content {
    display: inline;
    margin: 0 1rem;
    font-size: 2rem;
}

.info-section-content > h3 {
    text-align: center;
}