html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1REM = 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Nunito', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    color: #000000;
    background-color: #fff;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700;800&display=swap');

/* Globales */
a {
    text-decoration: none;
    color: #000;
}

h1 {
    margin: 0;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

/* Header */

header {
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
}

.contenedor-navegacion {
    background-image: url(../img/casa-maps.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 70rem;
    overflow: hidden;
}

.navegacion-principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: .5rem 10rem;
}

.navegacion-principal > a {
    color: #fff;
}

.navegacion-principal > a:hover {
    background-color: rgba(0, 0, 0, 0.424);
    padding: .5rem;
}

/* Info Section */

.info-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

.info {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.424);
    display: grid;
    grid-template-columns: 20rem 7rem 7rem;
    grid-template-rows: 7rem 7rem 7rem;
    height: 100%;
    width: 40%;
}

.info > p {
    grid-row: 2 / 3;
    line-height: 1;
    margin: auto auto auto 1rem;
}

.info > h2 {
    margin: 0;
    margin: auto;
}

.info > .contact-btn {
    display: block;
    grid-row: 3 / 4;
    margin: auto;
}

.icon {
    margin: auto;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.icon > p {
    font-size: 1.2rem;
    margin: 0;
    line-height: 1;
    text-align: center;
}


